{% extends "base.html" %}

{% block content %}
    <div class="col-md-4">
        <form method='post'>
          
            Comment:<br />
            <textarea name='commentContent' style="height:100px;width:350px" id='comment'></textarea><br />
            <br />
            Scoring:<br />

            <input type="radio" name="score" value="0" checked>0
            &nbsp;&nbsp;
            <input type="radio" name="score" value="1">1
            &nbsp;&nbsp;
            <input type="radio" name="score" value="2">2
            &nbsp;&nbsp;
            <input type="radio" name="score" value="3">3
            &nbsp;&nbsp;
            <input type="radio" name="score" value="4">4
            &nbsp;&nbsp;
            <input type="radio" name="score" value="5">5
            <br>
            <br>
            <div class="col-md-offset-4">
                <input type="submit" class="btn btn-primary" value="Comment">
            </div>
        </form>

    </div>
   <form method="get" action="file.doc">
    <button type="submit">Download!</button>
</form>

{% endblock %}

    

